<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1 class="mat-h1">About Me</h1></mat-card-title>
    </mat-card-header>
    <div class="content">
        <img class="content_photo" mat-card-image src="assets/images/Brant Hajek 2814x2814.jpg" alt="Photo of Brant">
        <!-- <img width="200px" class="img-fluid img-thumbnail rounded" src="assets/images/Brant Hajek 2814x2814.jpg"> -->
        <mat-card-content class="content_text">
            <p>I'm a web developer based in Portland, OR.</p>
                
            <p>I enjoy working with people in collaborative environments. I believe learning from others is essential. Most of all, I value learning from my mistakes and trying to be graceful when I fail.</p>

            <p>I'm consistently interested in learning more about JS frameworks, full stack development, modern CSS, software design patterns, unit testing, front-end tools, and how to be a better developer.</p>
        </mat-card-content>
    </div>
</mat-card>
