<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1 class="mat-h1">Contact</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">

        <p>You can find me at any of the links below.</p>

        <section class="content-buttons-mobile">
            <button mat-raised-button color="basic" (click)="openLinkedIn()">
                <img class="icon" mat-card-image src="assets/images/linkedin-icon.png">
                Linked In
            </button>
            <button mat-raised-button color="basic" (click)="openEmail()">
                <img class="icon" mat-card-image src="assets/images/gmail-icon.png">
                Gmail
            </button>
            <button mat-raised-button color="basic" (click)="openGitHub()">
                <img class="icon" mat-card-image src="assets/images/github-icon.png">
                Github
            </button>
        </section>

        <section class="content-buttons">
            <button mat-button color="basic" (click)="openLinkedIn()">
                <img class="icon" mat-card-image src="assets/images/linkedin-icon.png">
                Linked In
            </button>
            <button mat-button color="basic" (click)="openEmail()">
                <img class="icon" mat-card-image src="assets/images/gmail-icon.png">
                Gmail
            </button>
            <button mat-button color="basic" (click)="openGitHub()">
                <img class="icon" mat-card-image src="assets/images/github-icon.png">
                Github
            </button>
        </section>
    </mat-card-content>
</mat-card>