<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1 class="mat-h1">Contact</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <p class="content_text">You can find me at any of the links below.</p>
        <mat-card (click)="openLinkedIn()" class="content_icons">
            <div class="icon">
                <img mat-card-image src="assets/images/linkedin-icon.png">
            </div>
            <h2 class="main-link mat-h2">Linked In</h2>
        </mat-card>
         
        <mat-card (click)="openEmail()" class="content_icons"> 
            <div class="icon">
                <img mat-card-image src="assets/images/gmail-icon.png">
            </div>
            <h2 class="main-link mat-h2">Gmail</h2>
        </mat-card>    
        <mat-card mat-raised-button (click)="openGitHub()" class="content_icons">
            <div class="icon">
                <img mat-card-image src="assets/images/github-icon.png">
            </div>
            <h2 class="main-link mat-h2">Github</h2>
        </mat-card>
    </mat-card-content>
</mat-card>