$screen-sm: 600px;
$screen-md: 900px;
$screen-lg: 1200px;
$screen-xl: 1536px;

.card {
    margin: 2rem;
    max-width: 60rem;
    min-height: 30rem;
}

.content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: 1rem;
    // flex-flow: wrap;

    &-links {
        display: flex;
        background: rgb(234, 244, 255);
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .icon {
            margin: 0 1rem !important;
            max-width: 3rem;
        }

        &:hover {
            transform: translateY(-.2rem);
        
            .main-link {
                color: #1f80ff;
            }
        }
    }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
    .content {
        &-links {
            .icon {
                margin-left: 0 !important;
            }
        }
    }
}

@media (min-width: $screen-lg) {
    .content {
        &-links {
            justify-content: flex-start;
    
            .icon {
                margin-left: 3rem !important;
            }
        }
    }
}