
.card {
    margin: 2rem;
    max-width: 60rem;
    min-height: 30rem;
}

.content, .content-buttons {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

button {
    margin: 1rem 0;
    padding: 1rem;
    background: rgb(234, 244, 255);
}

.icon {
    margin: 0 .5rem 0 0 !important;
    max-width: 3rem;
}

@media (min-width: 960px) {
    button {
        margin: 1rem;
        padding: 3rem;
        flex-wrap: wrap;
    }

    .content-buttons {
        flex-direction: row;
        align-self: center;
        margin-top: 2rem;
    }
}