<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1 class="mat-h1">Professional Work Portfolio</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <h3 class="mat-h3">Applyweb forms</h3>
        <p>Typically used by graduate schools (i.e., Stanford, Cornell, University of Michigan) with a high degree of complexity. We offer and build highly customizable forms to fit the client's business needs with many optional features such as transcript verification, asynchronous letter of recommendation requests, video interview questions, and many more. In order to access or view these forms you need an Applyweb account - <a target="_blank" href="https://www.applyweb.com/forms/unlgrad?">here is an example of a form I built recently</a>.</p>
        <h3 class="mat-h3">Applyweb Self Service Dashboard</h3>
        <p>During my time working on and building Applyweb forms an update was rolled out which allows our clients, typically college administrators, to login into a dashboard to manage and edit their forms. This new Self Service feature relies heavily on the user interface a handful of us built in Angular. It is quite a large and complex project, using NgRx for state management and our in-house component library. This is a strictly client-facing product.</p>

        <h3 class="mat-h3">Applyweb Letter of Recommendation Dashboard</h3>
        <p>This is another example of a user interface built in Angular I have contributed to. This dashboard is where recommenders, usually college professors, are prompted to sign up or login to when a letter of recommendation request is sent to them. Here, they can manage their requests from current or former students, colleagues, or employees and begin filling out a separate evaluation form (we also create for our clients). This product can only be viewed if you have a valid request sent to your email - you should get an email with a link token allowing you to sign up.</p>

        <h3 class="mat-h3">CollegeNET Pattern Library</h3>
        <p>This is an entirely internal project which contains all of the components or features our Angular projects pull in and use. This is a large, complex project, made up of many building block components such as a select-one, but also more complex features such as snackbars, modals, and accordions.</p>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1 class="mat-h1">Personal Projects</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <p class="content_text">Here are some examples of things I've built on my own time.</p>
        <app-project-cards></app-project-cards>
    </mat-card-content>
</mat-card>