<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1 class="mat-h1">Portfolio</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <p class="content_text">Here are some examples of things I've built. Some of these I'm proud of, while others serve as a proof of concept. Since I am constantly learning and trying to put that knowledge into practice, new projects will continue to be added in here every so often.</p>

        <p>Most recently, I wanted to look into using Material components within an Angular app, so I made this site! You can view that code <a href="https://github.com/branthajek/branthajek.github.io" target="_blank">here</a>.</p>
        <app-project-cards></app-project-cards>
    </mat-card-content>
</mat-card>