<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1 class="mat-h1">Professional Work Portfolio</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <h3 class="mat-h3">Applyweb forms</h3>
        <p>These forms are typically used by graduate schools (i.e., Stanford, Cornell, University of Michigan) with a high degree of complexity. We develop highly customizable forms to fit the client's business needs which include optional features such as transcript verification, asynchronous letter of recommendation requests, video interview questions, just to name a few. In order to access or view these forms you need an Applyweb account - <a target="_blank" href="https://www.applyweb.com/forms/unlgrad?">here is an example of a form I built recently</a>.</p>

        <h3 class="mat-h3">Applyweb Self Service Dashboard</h3>
        <p>Applyweb forms now offer self-service features, allowing our clients to make certain edits to their own forms and publish them without having to submit requests to the development team. I was apart of the team that developed the UI for the dashboard in which the client can view, edit, and publish their forms. It was developed in Angular, using NgRx for state management and our in-house component library. This is a strictly client-facing product.</p>

        <h3 class="mat-h3">Applyweb Letter of Recommendation Dashboard</h3>
        <p>This dashboard is where recommenders, usually college professors, can manage their requests from current or former students, colleagues, or employees and begin filling out a separate evaluation form (which we also develop and maintain). This is another example of a UI built in Angular that I have contributed to. This dashboard is only accessible if you have received an email with a link to login.</p>

        <h3 class="mat-h3">CollegeNET Pattern Library</h3>
        <p>This is a strictly internal project which contains all of the components and features our Angular projects pull in and use. Occasionally, when working on other projects, I have had to make updates to this one so that a certain component or feature may meet the needs outlined by the design team. This is a large, complex project, architected to be used by various applications accross multiple departments.</p>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-header>
        <mat-card-title><h1 class="mat-h1">Personal Projects</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <p class="content_text">Here are some examples of things I've built on my own time.</p>
        <app-project-cards></app-project-cards>
    </mat-card-content>
</mat-card>